*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
body::before{
    content: "";
    position: absolute;
    inset: -15px; 
    background-image: url(./bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.65;
    filter: blur(12px);
    z-index: -1;
}
